@font-face {
  font-family: BarbaraHand;
  src: url('./barbarahand-webfont.eot');
  src: url('./barbarahand-webfont.woff') format('woff'),
  url('./barbarahand-webfont.woff2') format('woff2'),
  url('./barbarahand-webfont.ttf') format('truetype'),
  url('./barbarahand-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}